<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="../static/css/home_style.css">
    <link rel="stylesheet" href="../static/css/invoice_style.css?v=11">
</head>
<body>
<div class="sidebar">
    <a href="customer" class="nav-btn">Customer</a>
    <a href="product" class="nav-btn">Product</a>
    <a href="invoice" class="nav-btn">Invoice</a>
    <a href="analytics" class="nav-btn">Analytics</a>
</div>
<div class="main-content">
    <button id="new-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
            <circle cx="8" cy="21" r="1"/>
            <circle cx="19" cy="21" r="1"/>
            <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
        </svg>
        New
    </button>
    <div id="invoice-content">
        <div class="customer-form-row">
            <div class="form-field">
                <label for="mobile-no">Mobile No.:</label>
                <input type="text" id="mobile-no" name="mobile-no">
                <div id="mobile-results" class="dropdown-results"></div>
            </div>
            <div class="form-field">
                <label for="customer-name">Customer Name:</label>
                <input type="text" id="customer-name" name="customer-name" disabled>
            </div>
            <div class="form-field">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" disabled>
            </div>
        </div>


        <div class="order-container">
            <h2>Order Items</h2>
            <div id="items"></div>
            <button type="button" class="add-btn" id="addItemBtn">+</button>
            <p id="error-msg"></p>
            <div class="order-summary">
                <label for="totalAmount">Total Amount: $</label>
                <span id="totalAmount">0.00</span>
                <button type="button" id="order-btn">Order</button>
            </div>
        </div>

    </div>
</div>
<script src="../static/js/invoice_page.js?v=8"></script>
</body>
</html>
